# Writing data to HTML

In [24]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
frame = pd.DataFrame(np.arange(4).reshape(2,2))

In [4]:
frame

   0  1
0  0  1
1  2  3

In [5]:
frame.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>0</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>2</td>\n      <td>3</td>\n    </tr>\n  </tbody>\n</table>'

In [6]:
frame1 = pd.DataFrame(np.arange(16).reshape(4,4),index=['white','red','blue','green'],columns=['ball','pen','pencil','rubber'])

In [7]:
frame1

       ball  pen  pencil  rubber
white     0    1       2       3
red       4    5       6       7
blue      8    9      10      11
green    12   13      14      15

In [8]:
frame1.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>ball</th>\n      <th>pen</th>\n      <th>pencil</th>\n      <th>rubber</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>white</th>\n      <td>0</td>\n      <td>1</td>\n      <td>2</td>\n      <td>3</td>\n    </tr>\n    <tr>\n      <th>red</th>\n      <td>4</td>\n      <td>5</td>\n      <td>6</td>\n      <td>7</td>\n    </tr>\n    <tr>\n      <th>blue</th>\n      <td>8</td>\n      <td>9</td>\n      <td>10</td>\n      <td>11</td>\n    </tr>\n    <tr>\n      <th>green</th>\n      <td>12</td>\n      <td>13</td>\n      <td>14</td>\n      <td>15</td>\n    </tr>\n  </tbody>\n</table>'

In [9]:
s=['<HTML>']

In [10]:
s.append('<HEAD><tittle>My DataFrame</tittle></Head>')

In [11]:
s.append('<body>')

In [12]:
s.append(frame1.to_html())

In [13]:
s.append('</body></HTML>')

In [14]:
s

['<HTML>',
 '<HEAD><tittle>My DataFrame</tittle></Head>',
 '<body>',
 '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>ball</th>\n      <th>pen</th>\n      <th>pencil</th>\n      <th>rubber</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>white</th>\n      <td>0</td>\n      <td>1</td>\n      <td>2</td>\n      <td>3</td>\n    </tr>\n    <tr>\n      <th>red</th>\n      <td>4</td>\n      <td>5</td>\n      <td>6</td>\n      <td>7</td>\n    </tr>\n    <tr>\n      <th>blue</th>\n      <td>8</td>\n      <td>9</td>\n      <td>10</td>\n      <td>11</td>\n    </tr>\n    <tr>\n      <th>green</th>\n      <td>12</td>\n      <td>13</td>\n      <td>14</td>\n      <td>15</td>\n    </tr>\n  </tbody>\n</table>',
 '</body></HTML>']

In [15]:
html =''.join(s)

In [16]:
html

'<HTML><HEAD><tittle>My DataFrame</tittle></Head><body><table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>ball</th>\n      <th>pen</th>\n      <th>pencil</th>\n      <th>rubber</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>white</th>\n      <td>0</td>\n      <td>1</td>\n      <td>2</td>\n      <td>3</td>\n    </tr>\n    <tr>\n      <th>red</th>\n      <td>4</td>\n      <td>5</td>\n      <td>6</td>\n      <td>7</td>\n    </tr>\n    <tr>\n      <th>blue</th>\n      <td>8</td>\n      <td>9</td>\n      <td>10</td>\n      <td>11</td>\n    </tr>\n    <tr>\n      <th>green</th>\n      <td>12</td>\n      <td>13</td>\n      <td>14</td>\n      <td>15</td>\n    </tr>\n  </tbody>\n</table></body></HTML>'

In [17]:
html_file = open('myframe.html','w')

In [18]:
html_file.write(html)

735

In [19]:
html_file.close()

# Reading Data from an HTML File

In [20]:
reading = pd.read_html('myframe.html')

In [21]:
reading[0]

  Unnamed: 0  ball  pen  pencil  rubber
0      white     0    1       2       3
1        red     4    5       6       7
2       blue     8    9      10      11
3      green    12   13      14      15

In [22]:
reading

[  Unnamed: 0  ball  pen  pencil  rubber
 0      white     0    1       2       3
 1        red     4    5       6       7
 2       blue     8    9      10      11
 3      green    12   13      14      15]

# Reading and Writing Data on Microsoft Excel Files

In [23]:
pd.read_excel('sheet1.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: 'sheet1.xlsx'

In [ ]:
pd.read_excel('sheet2.xlsx')

In [ ]:
pd.read_excel('data.xlsx')

In [ ]:
pd.read_excel('data.xlsx','Sheet2')

In [ ]:
pd.read_excel('data.xlsx',1)

In [ ]:
pd.read_excel('data.xlsx',0)

In [ ]:
frame = pd.DataFrame(np.arange(16).reshape(4,4),index = [ 'white','red','blue','yellow'],columns=['ball','pen','pencil','bat'])

In [ ]:
frame

In [ ]:
frame.to_excel('myexcel.xlsx')

# JSON Data

In [ ]:
frame1 = pd.DataFrame(np.arange(16).reshape(4,4),index = ['white','red','blue','green'],columns = ['ball','pen','pencil','bat'])

In [ ]:
frame1.to_json('frame1.json')

In [ ]:
pd.read_json('frame1.json')

In [ ]:
from pandas .io.json import json_normalize

In [ ]:
pd.read_json('books.json')

In [ ]:
json_normalize('books.json')

In [ ]:
file = open('books.json','r')

In [ ]:
text = file.read()

In [ ]:
text =json.loads(text)

# The Format HDF5

In [25]:
frame = pd.DataFrame(np.arange(16).reshape(4,4),index = ['white','red','blue','green'],columns=['ball','pen','pencil','bat'])

In [26]:
frame

       ball  pen  pencil  bat
white     0    1       2    3
red       4    5       6    7
blue      8    9      10   11
green    12   13      14   15

In [28]:
from pandas.io.pytables import HDFStore

In [29]:
store=HDFStore('myhd5.h5')

In [30]:
store['obj1']=frame

In [32]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: myhd5.h5

# Pickle—Python Object Serialization

 # Pickling with pandas

In [36]:
frame2 = pd.DataFrame(np.arange(16).reshape(4,4), index = ['up','down','left','right'])

In [37]:
frame2

        0   1   2   3
up      0   1   2   3
down    4   5   6   7
left    8   9  10  11
right  12  13  14  15

In [38]:
frame2.to_pickle('mypckle.pkl')

# Interacting with Databases

In [39]:
from sqlalchemy import create_engine

In [40]:
 engine = create_engine('mysql+mysqldb://scott:tiger@localhost/foo')

ModuleNotFoundError: No module named 'MySQLdb'